body {
  background: #171717;
  font-family: 'Montserrat', sans-serif;
}

@media (min-width: 640px) {
  body {
    background: #171717;
    font-family: 'Montserrat', sans-serif;
  }

  div.container {
    font-family: 'Montserrat', sans-serif;
    width: 1920px;
    margin: 0 auto;
    background-color: #171717;
    padding: 0 auto;
    height: 100%;
  }
}

input.file-upload-button {

  background: #000000;
}





@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;